
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>

<p>Hello World llllllllll</p>

@if (ViewBag.Message != string.Empty)
{
    <script>alert("@ViewBag.Message")</script>
}

<p>@ViewData["Message"]</p>