
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<nav class="nav-bar">
    <div class="nav-links-admin">
        <li><a asp-area="" asp-controller="Foods" asp-action="Index">Add Food</a></li>
    </div>
</nav>