@model IEnumerable<_666foodDelivery.Models.Feedback>

@{
    ViewData["Title"] = "ViewFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="ui form" action="SearchByType">
    <p>Enter Feedback Category: <input type="text" value="" name="FeedbackCategory" /></p>
    <p><input type="submit" value="Search" name="submit" class="btn btn-primary"/></p>
</form>
<hr />

<section>
    <div class="container">
        <br />
        <div class="card">
            <div class="card-body">
                <div>
                    <table class="table table-bordered content-table" cellspacing="5">
                        <thead>
                            <tr>
                                <th>
                                    Customer Name
                                </th>
                                <th>
                                    Feedback
                                </th>
                                <th>
                                    Feedback Category
                                </th>
                                <th>
                                    Timestamp
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CustomerName</td>
                                    <td>@item.RowKey</td>
                                    <td>@item.FeedbackCategory</td>
                                    <td>@item.Timestamp</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a class="card-link" asp-controller="Admin" asp-action="Index">Back to Index</a>
            </div>
        </div>
    </div>
</section>

<style>
    * {
        font-family: sans-serif
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

        .content-table thead tr {
            background-color: #007bff;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .content-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3
            }

            .content-table tbody tr:last-of-type {
                border-bottom: 3px solid #007bff
            }
</style>