
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Feedback</h1>

<p><strong>@TempData["InsertResult"]</strong></p>

<div class="form-group">
    <form id="form" method="get" asp-action="InsertFeedback">
        <label for="customername">Name</label><br />
        <input id="customername" name="customername" type="text" placeholder="Enter Name" required/>
        <hr />

        <label for="customerfeedback">Enter Your Feedback</label><br />
        <textarea id="customerfeedback" name="customerfeedback" cols="50" rows="10" placeholder="Enter Feedback" aria-describedby="feedbackhelper" required></textarea>
        <small id="feedbackhelper" class="form-text text-muted">Your feedback is highly appreciated!</small>
        <hr />

        <label for="feedbackcategory">Feedback Type</label><br />
        <select id="feedbackcategory" name="feedbackcategory" required>
            <option value="" selected disabled>Choose a Feedback Type</option>
            <option value="Account Registration/Login Issue">Account Registration/Login Issue</option>
            <option value="Unable to Make Order">Unable to Make Order</option>
            <option value="Cannot View Food List">Cannot View Food List</option>
            <option value="Others">Others</option>
        </select>
        <br />
        <br />

        <button type="submit" class="ui primary button">Submit</button>
    </form>
</div>

<a asp-controller="Home" asp-action="Index">Back to Index</a>